In [10]:
import numpy as np
import pandas as pd

In [13]:
from numpy.random import randn

In [14]:
np.random.seed(101)

In [17]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [1]:
tab= 'CA JP US ME NE FR MA'.split()
tab

['CA', 'JP', 'US', 'ME', 'NE', 'FR', 'MA']